<script type="text/javascript">
  var loadUsers = function() {
    $.ajax({
      type: "GET",
      url: "/users",
      dataType: "json",
      success: function(data) {
        for (var i = 0; i < data.length; ++i)
        {
          var id = data[i].id;
          var name = data[i].name;
          var row = "<tr class=''><td><a href='#' onclick='getUser(" + id + ")'>" + name + "</a></td></tr>";
          $("#all_users").append(row);
        }
      }
    })
  }

  $(document).on('page:load ready', loadUsers);
</script>

<form>
  <input id="filter" type="text" onkeyup="filterUsers()" placeholder="Filter by Name">
</form>

<div class="row">
  <div class="small-4 large-4 columns">
    <table id="all_users">
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="small-8 large-4 columns">
    <table id="user_data">
      <tbody>
      </tbody>
    </table>
  </div>
</div>
